<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YNOT.NFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /* Обнуляю отступы и убираю маркеры у списков. */
        ul, li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        /* Задаю параметры для основного, родительского блока, меню выпадающего списка. */
        #menu {
            display: block;
            position: absolute;
            top: 16.9px;
            left: 365px;
        }

        #menu1 {
            display: block;
            position: absolute;
            top: 17px;
            left: 270px;
        }

        /* Задаю стили для блоков выпадающего списка. */
        #menu > li {
            display: inline-block;
            height: 20px;
            /* Считаем координаты относительно исходного места. */
            position: relative;
        }
            /* Задаю стили, чтобы скрыть дочерние блоки выпадающего списка. Ну и немного украшаю. */
            #menu > li > ul {
                position: absolute;
                top: 20px;
                left: 10px;
                display: none;
                background-color: white;
                border-radius: 5px;
                width: 185px;
                font-size: 14px;
                padding: 10 0 10 10;
            }
            /* Так я делаю прежде скрытую часть видимой — при наведении курсора. */
            #menu > li:hover > ul {
                display: block;
            }
        /* Задаю стили для блоков выпадающего списка. */
        #menu1 > li {
            display: inline-block;
            height: 20px;
            /* Считаем координаты относительно исходного места. */
            position: relative;
        }
            /* Задаю стили, чтобы скрыть дочерние блоки выпадающего списка. Ну и немного украшаю. */
            #menu1 > li > ul {
                position: absolute;
                top: 20px;
                left: 10px;
                display: none;
                background-color: white;
                border-radius: 5px;
                width: 185px;
                font-size: 14px;
                padding: 10 0 10 10;
            }
            /* Так я делаю прежде скрытую часть видимой — при наведении курсора. */
            #menu1 > li:hover > ul {
                display: block;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">YNOT.NFT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            ㅤㅤㅤㅤㅤㅤ
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/News">News</a>
                        </li>
                        <li class="nav-link">
                            <a href="http://ynotnftforum.azurewebsites.net/">Forum</a>
                        </li>
                    </ul>
                    <ul id="menu1">
                        <li>
                            <a href="https://ynotnft.azurewebsites.net/OurProjects">Our Projects</a>
                            <ul>
                                <li><strong>Collections</strong></li>
                                <li><a href="https://opensea.io/collection/pixels-monopoly">Pixels & Monopoly</a></li>
                                <li><a href="https://opensea.io/collection/pixels-and-sportsmen">Pixels & Sportsmen</a></li>
                                <li><a href="https://opensea.io/collection/pixels-and-retro-cars">Pixels & Retro Cars</a></li>
                                <li><a href="https://opensea.io/collection/scary-me">Scary Me</a></li>
                                <li><a href="https://opensea.io/collection/cyprus-glasses">Cyprus & Glasses</a></li>
                                <li><a href="https://opensea.io/collection/pixels-companies">Pixels & Companies</a></li>
                                <li><strong>Recently Added Tokens</strong></li>
                                <li><a href="https://ynotnft.azurewebsites.net/Recently_Added">Recently Added Tokens</a></li>
                                <li><strong>Best Tokens</strong></li>
                                <li><a href="http://ynotnft.azurewebsites.net/BestTokens">Best Tokens</a></li>
                                <li><strong>Metaverse</strong></li>
                                <li><a href="https://ynotnft.azurewebsites.net/metaversedevelop">Pixels & Sportsmen</a></li>
                                <li><a href="https://ynotnft.azurewebsites.net/metaversedevelop">Pixels & Retro Cars</a></li>
                                <li><a href="https://ynotnft.azurewebsites.net/metaversedevelop">Pixels & Monopoly</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ivan Ivanou | Contact Us: <a href="mailto: janisivanov@icloud.com">Send Email</a> | <a href="https://instagram.com/ynot.nft?utm_medium=copy_link">Instagram</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>