<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YNOT.NFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        ul.ddropdownn li {
            position: relative;
        }

        ul.ddropdownn, ul.ddropdownn-inside {
            padding: 0;
            list-style-type: none;
        }

        ul.ddropdownn-inside {
            left: -9999px;
            position: absolute;
        }

        ul.ddropdownn li.ddropdownn-top {
            margin: 0 1px 0 0;
            float: left;
            display: inline;
        }

            ul.ddropdownn li.ddropdownn-top a {
                display: block;
                padding: 3px 10px 4px;
            }

        ul.ddropdownn a.ddropdownn-top {
            background: #efefef;
        }

            ul.ddropdownn a.ddropdownn-top:hover {
                padding: 3px 10px 4px;
            }

        ul.ddropdownn li.ddropdownn-top:hover .ddropdownn-inside {
            left: 0;
            display: block;
        }

        ul.ddropdownn .ddropdownn-inside {
            background: #ffffff;
        }

            ul.ddropdownn .ddropdownn-inside a:hover {
                background: #efefef;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">YNOT.NFT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <ul class="ddropdownn">

                            <li class="ddropdownn-top">
                                <a class="ddropdownn-top" href="https://ynotnft.azurewebsites.net/AboutUs">About Us</a>
                            </li>

                            <li class="ddropdownn-top">
                                <a class="ddropdownn-top" href="https://ynotnft.azurewebsites.net/OurProjects">Our Projects</a>
                                <ul class="ddropdownn-inside">
                                    <li class="ddropdownn-top">
                                        <a class="ddropdownn-top" href="https://ynotnft.azurewebsites.net/metaverse">Metaverse</a>
                                    </li>
                                    <li class="ddropdownn-top">
                                        <a class="ddropdownn-top" href="https://ynotnft.azurewebsites.net/collections">Collections</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="ddropdownn-top">
                                <a class="ddropdownn-top" href="https://ynotnft.azurewebsites.net/News">News</a>
                            </li>

                            <li class="ddropdownn-top">
                                <a class="ddropdownn-top" href="http://ynotnftforum.azurewebsites.net/">Forum</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ivan Ivanou | Contact Us: <a href="mailto: janisivanov@icloud.com">Send Email</a> | <a href="https://instagram.com/ynot.nft?utm_medium=copy_link">Instagram</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>