@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<strong>Who we are?</strong>
<p>We are a group of enthusiasts who have decided to create their own NFT Tokens.</p>
<p></p>
<strong>Why our NFT is better than others?</strong>
<p>Our tokens in collections <a href="https://docs.microsoft.com/aspnet/core">"Scary Me" </a> , <a href="https://docs.microsoft.com/aspnet/core">"CyprusThroughGlass" </a> , <a href="https://docs.microsoft.com/aspnet/core">"CryptoCompany" </a> - just collections drawn by creative people , but we also have special collections: <a href="https://docs.microsoft.com/aspnet/core">"CryptoMonopoly" </a> , <a href="https://docs.microsoft.com/aspnet/core">"Pixels & Sportsman's" </a> & <a href="https://docs.microsoft.com/aspnet/core">"RetroCars" </a> - those collections are future part of metaverse which is in developing process right now and very soon tokens you own from our collections will be a part of a big metaverse.</p>
<strong>What NFT Metaverse is?</strong>
<p>The metaverse is an immersive virtual world, where users have their own avatar and can interact with each other, share experiences and create places and objects similar to real life. A metaverse is likely to build a completely new ecosystem, a massive-multiplayer online game if you will, with an incorporated economy, that enables users to buy and sell items. If you still didn't understand what is it follow <a href="https://docs.microsoft.com/aspnet/core"> this </a> link to understand it clearly.</p>
<strong>What NFT is?</strong>
<p>NFT stands for a non-fungible token, which means it can neither be replaced nor interchanged because it has unique properties. Digital Asset - NFT is a digital asset that represents internet collectibles like art, music, and games with an authentic certificate created by blockchain technology that underlies Cryptocurrency. Unique - It cannot be forged or otherwise manipulated. Exchange - NFT exchanges take place in cryptocurrencies such as Bitcoin on specialist sites. If you still didn't understand what is it follow <a href="https://docs.microsoft.com/aspnet/core"> this </a> link to understand it clearly.</p>
<strong>I have some ideas about NFT collections and I want to contact you!</strong>
<p>We would love to hear them – please get in touch at team@nftvaluations.com or in <a href="https://docs.microsoft.com/aspnet/core"> Instagram</a>.</p>
<strong>Who is the team?</strong>
<p>Founder of all those collections , CEO of our small group is <a href="https://docs.microsoft.com/aspnet/core">Ivan Ivanou</a>. CoFounder is <a href="https://docs.microsoft.com/aspnet/core">Arthur Andreev</a>. Main software developer of our team is <a href="https://docs.microsoft.com/aspnet/core">Fedor Areshnikov</a>. Creator of <a href="https://docs.microsoft.com/aspnet/core">"CyprusThroughGlass" </a>collection is <a href="https://docs.microsoft.com/aspnet/core">John Sofokleous</a>. Creative Director is <a href="https://docs.microsoft.com/aspnet/core">Tony Antoniou</a>.</p>