@page
@model BestTokensModel
@{
    ViewData["Title"] = "Best Tokens";
}
<h1>@ViewData["Title"]</h1>

<strong>Best Tokens From Our Collections:</strong>
<p>
    <br>
    <strong>Diego Maradona</strong><br>
    <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/82735289025247692690552623089230228289246151274717566288322623134981211291649">
        <img alt="Diego Maradona" src="https://lh3.googleusercontent.com/QG8nxWf1Du-sIGf8MhauyvBGtB90nGmF1S2F6N_XzmfqmGhB4gokcXD_rtZ4VIYj7r8hfL2z2Y61pPlTWoDyz8Wgv3FYPTYU6-oB0A=w600"
             width=235
             " height="250">
    </a>
</p>
<p>
    <strong>Boardwalk</strong><br>
    <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/82735289025247692690552623089230228289246151274717566288322623347186955452417">
        <img alt="Boardwalk" src="https://lh3.googleusercontent.com/qrjyw7gkScC9PkMpYHbwrmYyfvQSybaoV3zNIA6GOZtHtaqtjrGCGJ0DM4cfpjPZMqcR1FkyIeZL4oIAaOvdxa_uYE88RuJ9dktbCA=w600"
             width=235
             " height="250">
    </a>
</p>
<p>
    <strong>Lier</strong><br>
    <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/82735289025247692690552623089230228289246151274717566288322623285614304296961">
        <img alt="Triple Lie" src="https://lh3.googleusercontent.com/iHt68yHhwPSe6fc17zfiIHSkX8EbHRQV3VlwwURaTRjCJA0c8tD-o9o-ZkvO30F1NZN8Is-G5Q2OriPO05BXxC3mMedDKAZYh9ClJg=w600"
             width=235
             " height="275">
    </a>
</p>