@page
@model BestTokensModel
@{
    ViewData["Title"] = "Hottest Tokens";
}
<h1>@ViewData["Title"]</h1>

<strong>Hottest Tokens From Our Collections:</strong>
<p>
    <br>
    <strong>1937 Bugatti Type 57SC Atlantic</strong><br>
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/82735289025247692690552623089230228289246151274717566288322623277917722902529">
        <img alt="1937 Bugatti Type 57SC Atlantic" src="https://lh3.googleusercontent.com/jJRfjzZtd0eIWraqhUBFpF_6bYD6cLNbhLopWlua7-6OdUHwI51kPVpL__ACGk8Xizcd5XVnS_-955gJDJ6dwdcE65CW3s3Yy1iL=w423"
             width=350
             " height="280">
    </a>
</p>
<p>
    <strong>Paolo Maldini</strong><br>
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/82735289025247692690552623089230228289246151274717566288322623233937257791489">
        <img alt="Paolo Maldini" src="https://lh3.googleusercontent.com/mpLv2ZUjzI6u5wTCWQLu6yEtohvRC8IbiceuHhyUIIr0kvN2oLG_aIYU9R1WG9sHZNDKwqcp4WIMb27thdQwgEkBGVrTlA-1baOKpSA=w423"
             width=235
             " height="250">
    </a>
</p>
<p>
    <strong>Johnson & Johnson</strong><br>
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/82735289025247692690552623089230228289246151274717566288322623251529443835905">
        <img alt="Johnson & Johnson" src="https://lh3.googleusercontent.com/rRfiHsG06ry3ZsTZ1kKuB_vB6QLZcNrkFKKR5bqz-v1bgr8qbiGdwfhBWAwqVroQiLlzlTlrYHSuvkX4ni2OJG9pngrEUiPToSYQmQ=w423"
             width=235
             " height="250">
    </a>
</p>