@page
@model BestTokensModel
@{
    ViewData["Title"] = "Best Tokens";
}
<h1>@ViewData["Title"]</h1>

<strong>Best Tokens From Our Collections:</strong>
<p>
    Diego Maradona<br>
    <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/82735289025247692690552623089230228289246151274717566288322623134981211291649">
        <img alt="Diego Maradona" src="https://lh3.googleusercontent.com/QG8nxWf1Du-sIGf8MhauyvBGtB90nGmF1S2F6N_XzmfqmGhB4gokcXD_rtZ4VIYj7r8hfL2z2Y61pPlTWoDyz8Wgv3FYPTYU6-oB0A=w600"
             width=235
             " height="250">
    </a>
</p>