@page
@model CollectionsModel
@{
    ViewData["Title"] = "Collections";
}
<h1>@ViewData["Title"]</h1>

<strong>All our NFT Collections:</strong>
<p></p>
<p><a href="https://opensea.io/collection/scary-me">"Scary Me"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/cyprus-glasses">"Cyprus & Glasses"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-companies">"Pixels & Companies"</a></p>
<p><a href="https://opensea.io/collection/pixels-monopoly"> "Pixels & Monopoly"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-and-sportsmen">"Pixels & Sportsmen"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-and-retro-cars">"Pixels & Retro Cars"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p style="color:red"><a href="https://opensea.io/collection/xmas-and-new-year">"Xmas & New Year"</a></p>
<p>To check the best tokens click <a href="https://ynotnft.azurewebsites.net/besttokens">here</a></p>
<p>To check the recently added tokens click <a href="https://ynotnft.azurewebsites.net/Recently_Added">here</a></p>