@page
@model CollectionsModel
@{
    ViewData["Title"] = "Collections";
}
<h1>@ViewData["Title"]</h1>

<strong>All our NFT Collections:</strong>
<p></p>
<p><a href="https://docs.microsoft.com/aspnet/core">"Scary Me"</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">"CyprusThroughGlass"</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">"CryptoCompany"</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">"CryptoMonopoly"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">"Pixels & Sportsman's"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">"RetroCars"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p>To check the best tokens click <a href="https://ynotnft.azurewebsites.net/besttokens">here</a></p>