@page
@model CollectionsModel
@{
    ViewData["Title"] = "Collections";
    ViewData["Title2"] = "Rarible";
}

<h1>@ViewData["Title2"]</h1>
<strong>Our NFT's on <a href="https://rarible.com/ynotnft/sale">Rarible</a>!</strong>
<p>ㅤ</p>

<h1>@ViewData["Title"]</h1>

<strong>All our NFT Collections:</strong>
<p></p>
<p><a href="https://opensea.io/collection/scary-me">"Scary Me"</a><a asp-page="/Metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/cyprus-glasses">"Cyprus & Glasses"</a><a asp-page="/Metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-companies">"Pixels & Companies"</a><a asp-page="/Metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-monopoly"> "Pixels & Monopoly"</a><a asp-page="/Metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-and-sportsmen">"Pixels & Sportsmen"</a><a asp-page="/Metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-and-retro-cars">"Pixels & Retro Cars"</a><a asp-page="/Metaverse">(metaverse)</a></p>
<p style="color:red"><a href="https://opensea.io/collection/xmas-and-new-year">"Xmas & New Year"</a></p>
<p><a href="https://opensea.io/collection/abstraction-and-pixels">"Abstraction & Pixels"</a></p>
<p>To check the best tokens click <a asp-page="/BestTokens">here</a></p>
<p>To check the recently added tokens click <a asp-page="/Recently_Added">here</a></p>