@page
@model CollectionsModel
@{
    ViewData["Title"] = "Collections";
}
<h1>@ViewData["Title"]</h1>

<strong>All our NFT Collections:</strong>
<p></p>
<p><a href="https://opensea.io/collection/scary-me">"Scary Me"</a></p>
<p><a href="https://opensea.io/collection/cyprus-glasses">"Cyprus & Glasses"</a></p>
<p><a href="https://opensea.io/collection/pixels-companies">"Pixels & Companies"</a></p>
<p><a href=https://opensea.io/collection/pixels-monopoly">"Pixels & Monopoly"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://opensea.io/collection/pixels-and-sportsmans">"Pixels & Sportsman's"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p><a href="https://ynotnft.azurewebsites.net/error">"RetroCars"</a><a href="https://ynotnft.azurewebsites.net/metaverse">(metaverse)</a></p>
<p>To check the best tokens click <a href="https://ynotnft.azurewebsites.net/besttokens">here</a></p>