@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4"><strong>Welcome to YNOT.NFT</strong></h2>
</div>
<p>ㅤ</p>
<p>ㅤ</p>
<p><li>Explore <a href="https://ynotnft.azurewebsites.net/aboutus">who we are</a>.</li></p>
<p><li>Learn about <a href="https://ynotnft.azurewebsites.net/collections">our collections</a>.</li></p>
<p><li>Our <a href="https://ynotnft.azurewebsites.net/metaverse">Metaverse</a>.</li></p>
<p><li>Read <a href="https://ynotnft.azurewebsites.net/news">our news</a> about our <a href="https://ynotnft.azurewebsites.net/collections">NFT Collections</a>.</li></p>