@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4"><strong>Welcome to YNOT.NFT</strong></h2>
</div>
<p>ㅤ</p>
<p>ㅤ</p>
<p><li>Explore <a asp-area="" asp-page="/AboutUs">who we are</a>.</li></p>
<p><li>Learn about <a asp-area="" asp-page="/Collections">our collections</a>.</li></p>
<p><li>Our <a asp-area="" asp-page="/Metaverse">Metaverse</a>.</li></p>
<p><li>Read <a asp-area="" asp-page="/News">our news</a> about our <a asp-area="" asp-page="/Collections">NFT Collections</a>.</li></p>