@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4"><strong>Welcome to YNOT.NFT</strong></h2>
    <strong>On our website You can find:</strong>
</div>
<p>ㅤ</p>
<p>ㅤ</p>
<p><li>Learn about <a href="https://docs.microsoft.com/aspnet/core">our collections</a>.</li></p>
<p><li>Explore <a href="https://docs.microsoft.com/aspnet/core">who we are</a>.</li></p>
<p><li>Read <a href="https://docs.microsoft.com/aspnet/core">our news</a> about our <a href="https://docs.microsoft.com/aspnet/core">NFT Collections</a>.</li></p>
<p><li>Explore our <a href="https://docs.microsoft.com/aspnet/core">Metaverse</a>.</li></p>