@page
@model MetaverseModel
@{
    ViewData["Title"] = "Metaverse";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"><strong>Select Metaverse</strong></h1>
</div>
<p></p>
<p><a href="https://docs.microsoft.com/aspnet/core">Pixels & Sportsman's</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">CryptoMonopoly</a></p>
<p><a href="https://docs.microsoft.com/aspnet/core">RetroCars</a></p>