@page
@model MetaverseModel
@{
    ViewData["Title"] = "Metaverse";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"><strong>Select Metaverse</strong></h1>
</div>
<p></p>
<p><a href="https://ynotnft.azurewebsites.net/metaversedevelop">Pixels & Sportsman's</a></p>
<p><a href="https://ynotnft.azurewebsites.net/metaversedevelop">Pixels & Monopoly</a></p>
<p><a href="https://ynotnft.azurewebsites.net/metaversedevelop">Pixels & Retro Cars</a></p>