@page
@model MetaverseModel
@{
    ViewData["Title"] = "Metaverse";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"><strong>Select Metaverse</strong></h1>
</div>
<p></p>
<p><a asp-page="/MetaverseDevelop">Pixels & Sportsmen</a></p>
<p><a asp-page="/MetaverseDevelop">Pixels & Monopoly</a></p>
<p><a asp-page="/MetaverseDevelop">Pixels & Retro Cars</a></p>
<p><a asp-page="/MetaverseDevelop">Cyprus & Glasses</a></p>
<p><a asp-page="/MetaverseDevelop">Pixels & Companies</a></p>