@page
@model NewsModel
@{
    ViewData["Title"] = "News";
}
<h1>@ViewData["Title"]</h1>
<p>ㅤ</p>
<u>Official Start Of Our Project</u>
<strong><i>15.12.2021</i></strong>
<p>Today we officially tarted our project</p>