@page
@model NewsModel
@{
    ViewData["Title"] = "News";
}
<h1>@ViewData["Title"]</h1>
<p>ㅤ</p>
<u>Posted first NFT Collections</u>
<strong><i>10.12.2021</i></strong>
<p>First NFT Collections are posted!</p>
<u>Official Start Of Our Project</u>
<strong><i>15.12.2021</i></strong>
<p>Today we officially started our project</p>