@page
@model OurProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"><strong>Select Our Projects</strong></h1>
</div>
<p>ㅤ</p>
<strong><a asp-page="/Collections">Collections</a></strong></p>
<p>ㅤ</p>
<p><strong><a asp-page="/Metaverse">Metaverse</a></strong></p>
<p>ㅤ</p>
<p><strong><a asp-page="/PixeliumDev">Pixelium</a></strong></p>
<p>ㅤ</p>
<p><strong><a asp-page="/BestTokens">Best Tokens</a></strong></p>
<p>ㅤ</p>
<p><strong><a asp-page="/Recently_Added">Recently Added Tokens</a></strong></p>