@page
@model PixeliumDevModel
@{
    ViewData["Title"] = "PixeliumDev";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"><strong>Pixelium coming soon...</strong></h1>
</div>