@page
@model Recently_AddedModel
@{
    ViewData["Title"] = "Recently Added Tokens";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br>
    <strong>Sunset</strong><br>
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/82735289025247692690552623089230228289246151274717566288322623359281583357953">
        <img alt="Sunset" src="https://lh3.googleusercontent.com/aV7vn0N6pnEmYO7paQSKqV2iiu4jRbZYtfNQIjDwHuz1g0zsMQ_rkY-5bQPsgZmn4x40KXY1TYvFe2hCoRCVKsQ7QHofSrT0JtED=w423"
             width=235
             " height="250">
    </a>
</p>
<p>
    <strong>Lifebuoy</strong><br>
    <a href=https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/82735289025247692690552623089230228289246151274717566288322623319699164758017">
        <img alt="Lifebuoy" src="https://lh3.googleusercontent.com/TmYi_1YvZYFhfrpQzXuRpTwn3zYvjx_bqMAIN8ezB7FqD8fl0imKhRf9M9Agm5XzS7ako2QKx1oRJmPvogHMDI-LFfn4iVc2AM2ufQ=w423"
             width=235
             " height="250">
    </a>
</p>
<p>
    <strong>1963 Aston Martin DB5</strong><br>
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/82735289025247692690552623089230228289246151274717566288322623284514792669185">
        <img alt="1963 Aston Martin DB5" src="https://lh3.googleusercontent.com/mkaIHLzZ5LxypdlSCuD-nLJkDZEupWpFN6DOU4TCcnw10jDlz7hcdnAPQC7ooe25g8t-CWWMcVsUnCWVzkLWbJbo_gEsErC_jGr-LA=w423"
             width=350
             " height="280">
    </a>
</p>